.form {
  width: 363px;
  height: 351px;
  position: absolute;
  left: 258px;
  top: 127px;
  border: 1px solid #e9ecef;
  border-radius: 4px;
  align-items: center;
  display: flex;
  justify-content: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: #212529;
}
form {
  width: 335px;
  height: 300px;
}
#description {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 16px;
  gap: 10px;
  width: 300px;
  height: 52.8px;
  position: relative;
  top: 10px;
  bottom: 21%;
  background: #f8f9fa;
  border: 2px solid #f8f9fa;
  border-radius: 8px;
}
#valor {
  position: absolute;
  bottom: 30%;
}
#areaValor {
  position: absolute;
  left: 5%;
  top: 45%;
}
#valor,
#select {
  width: 128px;
  height: 48px;
  align-items: center;
  padding: 0px 16px;
  background: #f8f9fa;
  border: 2px solid #f8f9fa;
  border-radius: 8px;
  color: #868e96;
  font-size: 16px;
}
#select {
  position: absolute;
  left: 60%;
  bottom: 30%;
}
#rs {
  position: absolute;
  left: 115px;
  top: 60%;
  color: #868e96;
  font-size: 16px;
  z-index: 1;
}

form button {
  width: 314px;
  height: 48px;
  background-color: #fd377e;
  border: 2px solid;
  border-radius: 8px;
  color: white;
  position: absolute;
  top: 80%;
}
#tipoValor {
  position: absolute;
  left: 60%;
  top: 45%;
}
