li {
  list-style: none;
  float: right;
  width: 560px;
  height: 87px;
  color: #212529;
  background-color: #f8f9fa;
  margin-bottom: 40px;
  display: flex;
}
ul {
  position: absolute;
  right: 170px;
  top: 200px;
  display: flex;
  flex-direction: column;
}
@media (max-width: 900px) {
  ul {
    left: 0px;
    top: 650px;
    width: 80%;
    height: 300px;
    overflow-y: scroll;
  }
  li {
    width: 300px;
    min-height: 87px;
  }
}
