.price {
  position: relative;
  left: 400px;
  width: fit-content;
  bottom: 80px;
}
.status {
  width: 4px;
  height: 87px;
  margin: none;
}
.content {
  margin-left: 50px;
  position: relative;
  top: -100px;
}
.all {
  width: 560px;
}
.trash {
  position: relative;
  left: 480px;
  width: fit-content;
  bottom: 115px;
}
.trash:hover {
  filter: invert(1);
}
@media (max-width: 900px) {
  .price {
    left: 180px;
  }
  .trash {
    left: 200px;
    bottom: 70px;
  }
}
