.price {
  width: fit-content;
}
.status {
  width: 4px;
  height: 87px;
  margin: none;
}
.content {
  margin-left: 10px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: flex-start;
}
.all {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.trash {
  padding: 15px;
}
.trash:hover {
  filter: invert(1);
}
#text {
  display: flex;
  flex-direction: column;
}
