.home {
  background-color: #212529;
  width: 100vw;
  height: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button {
  z-index: 1;
  width: 242px;
  height: 49px;
  background-color: #fd377e;
  color: white;
  position: absolute;
  left: 275px;
  top: 483px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button:hover {
  cursor: pointer;
}
a {
  color: #e9ecef;
  text-decoration: none;
}
